
<div>
  <h2><%= @auction.title %></h2>
  <p><strong>Description: </strong><%= @auction.description %></p>
  <p><strong>Listed By: </strong><%= @auction.user&.full_name %></p>
  <% if @auction.reserve && @auction.bids.order(bid: :desc).first %>
    <% if (@auction.bids.order(bid: :desc).first.bid > @auction.reserve) %>
      <p><strong>Reserve Price Has Been Met</strong></p>
    <% else %>
      <p><strong>Reserve Price Not Met</strong></p>
    <% end %>
  <% end %>
  <p><strong>Current Bid: </strong><%= number_to_currency(@auction.bids.order(bid: :desc).first&.bid) %></p>
</div>

<div>
  <% if user_signed_in? && (@auction.user != current_user) %>
  <br>
    <div class="bid-form">
      <%= simple_form_for [@auction, @bid], remote: true do |f| %>
        <%= f.input :bid %>
        <%= f.submit class: 'btn btn-primary'%>
      <% end %>
    </div>
  <% end %>

  <h3><strong>Previous Bids</strong></h3>

  <div id="bids">
    <%= render 'bids/bids', bids: @bids %>
  </div>
</div>
